/* General Styles */
body {
  font-family: "Ubuntu", sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #000000;
  height: 100%;
  position: relative;
}

.bg-image {
  background: url("https://jf.je/ss/bg.jpg");
  filter: blur(8px);
  -webkit-filter: blur(8px);
  opacity: 0.5;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -10;
}

/* Layout Styles */
.app {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.main {
  width: 90%;
}

/* Current Driver Section */
.current-driver {
  margin-top: 45px;
  background: #fc4c02;
  color: black;
  padding: 12px 20px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
  letter-spacing: 1px;
  margin-bottom: 35px;
}

.current-driver .label {
  font-weight: 700;
}

.current-driver .driver-name {
  color: #ffffff;
  background: #202a44;
  padding: 4px 10px;
  border-radius: 4px;
  font-weight: bold;
}

/* Event Info Section */
.event-details {
  display: flex;
  align-items: center;
}

.date-box {
  padding-right: 55px;
}
.event-info {
  font-size: 26px;
  font-weight: bold;
  background: linear-gradient(
    100deg,
    #fc4c02 0%,
    #fc4c02 175px,
    #202a44 175px,
    #202a44 100%
  );
  color: #f5f5f7;
  padding: 20px;
  margin-top: 20px;
}

.btn {
  font-size: 36px;
  font-weight: bold;
  color: #202a44;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn:hover {
  cursor: pointer;
  color: #3b4a70;
}

/* Leaderboard Table */
.leaderboard {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 5px;
  margin-top: 20px;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.2em;
  text-align: left;
}

.leaderboard thead {
  background-color: #161616;
  color: #fff;
}

.leaderboard th,
.leaderboard td {
  padding: 8px;
}

.leaderboard tbody tr {
  background-color: #333;
  border-radius: 5px;
  overflow: hidden;
}

.leaderboard tbody tr:hover {
  background-color: #616161;
}

.leaderboard tbody tr.highlight {
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
}

.leaderboard th {
  text-transform: uppercase;
  font-weight: bold;
}

.leaderboard td:first-child {
  width: 50px;
  text-align: center;
}

.leaderboard td:last-child,
.leaderboard td:nth-last-child(3),
.leaderboard td:nth-last-child(2) {
  padding-right: 15px;
  width: 100px;
}

th {
  padding: 8px;
}

td {
  padding: 8px;
}

.stage-location {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
  text-align: center;
}

.location {
  font-weight: normal;
  color: #aaa;
}

.car-class {
  padding-left: 20px;
  font-size: 26px;
  font-weight: normal;
  text-align: center;
  color: #bbb;
}

.car-car {
  font-weight: 300;
}

.leaderboard-title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 15px;
  color: #fc4c02;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.highlight {
  color: #000000;
  font-weight: bold;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background: #333;
  margin: 10% auto;
  padding: 20px;
  width: 50%;
  border-radius: 8px;
}
